body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Muli";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon-and-text {
  display: flex;
  align-items: center;
}
.icon-and-text :first-child {
  margin-right: 0.4em;
  color: #4ABFCD;
}

.nav-bar {
  background-color: #153236;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 5vh;
  min-height: 3rem;
  padding: 0 5rem;
  font-size: 1.8rem;
}
.nav-bar .company-logo {
  height: 2rem;
  margin-top: 0.4rem;
  border-radius: 10px;
}
.nav-bar .nav-buttons {
  display: flex;
  justify-content: flex-end;
  color: white;
  width: 5%;
  min-width: 10rem;
}
.nav-bar .nav-buttons > * {
  margin-left: 1.5rem;
}
.nav-bar .nav-buttons > div {
  position: relative;
  z-index: 1;
}
.nav-bar .nav-buttons .user-photo {
  height: 2rem;
  border-radius: 50px;
}
.nav-bar .nav-buttons .notification {
  position: absolute;
  bottom: 2px;
  right: 0px;
  background-color: #fb8631;
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 100px;
  z-index: 2;
}

.header-projects {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 2rem 5rem;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(179, 179, 179, 0.43);
  -moz-box-shadow: 0px 5px 7px 0px rgba(179, 179, 179, 0.43);
  box-shadow: 0px 5px 7px 0px rgba(179, 179, 179, 0.43);
  position: relative;
  z-index: 1;
}

.header-projects-info, .header-projects-manager {
  display: flex;
  align-items: center;
}

.header-projects-image {
  height: 5rem;
  padding: 0.2rem;
  background-color: #4ABFCD;
  border-radius: 10px;
  margin-right: 1rem;
}

.header-projects-title {
  font-size: 2rem;
}

.header-projects-stats {
  display: flex;
  margin-top: 0.5rem;
}
.header-projects-stats div {
  margin-right: 1.1rem;
  display: flex;
  align-items: center;
}
.header-projects-stats div select {
  width: 4rem;
  border: none;
  overflow: hidden;
  background-color: #fff;
  background-image: url(https://1.bp.blogspot.com/-kjKb_TRfNRI/Vn_q0Fk0YsI/AAAAAAAARFg/bNGN-u8XB_Q/s800-Ic42/down.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.header-projects-stats div select ::-ms-expand {
  display: none;
}

.header-projects-manager div {
  border: 1px solid #b3b3b3;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  margin-right: 1rem;
  font-size: 1.2rem;
}
.header-projects-manager div input {
  border: none;
}
.header-projects-manager div input:focus {
  outline: none;
}
.header-projects-manager div i {
  color: #b3b3b3;
}
.header-projects-manager button {
  padding: 1rem 2rem;
  background-color: #4ABFCD;
  border-radius: 10px;
  color: white;
  border: none;
  transition: all 0.2s ease-out;
  font-weight: 700;
}
.header-projects-manager button:hover {
  background-color: #1f6e77;
}
.header-projects-manager button i {
  border-radius: 100px;
  border: 3px solid white;
  padding: 0.2em 0.3em;
  margin-right: 0.5rem;
}

.main-section {
  background-color: #F2FEFF;
  padding: 0 5rem 5rem;
  position: relative;
  z-index: 0;
}
.main-section nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 2.2rem 3rem;
}
.main-section nav .main-projects-header {
  display: flex;
  align-items: center;
}
.main-section nav .main-projects-header > * {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.main-section nav .main-projects-header span {
  color: grey;
}
.main-section nav .projects-filters {
  display: flex;
  font-size: 1.3rem;
}
.main-section nav .projects-filters .filter-button {
  background-color: #4ABFCD;
  border-radius: 10px;
  color: white;
  border: none;
  transition: all 0.2s ease-out;
  padding: 0.5rem;
  margin-right: 1rem;
  z-index: 99999;
}
.main-section nav .projects-filters .filter-button:hover {
  background-color: #1f6e77;
}
.main-section nav .projects-filters div i {
  padding: 0.5rem;
  color: white;
  border-radius: 10px;
}
.main-section nav .projects-filters div :first-child {
  background-color: #4ABFCD;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.main-section nav .projects-filters div :last-child {
  background-color: #b3b3b3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.main-section .all-projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.filter-options-container {
  position: relative;
}
.filter-options-container .filter-options {
  border-top: 1px solid rgba(90, 84, 84, 0.2);
  padding: 2rem 5rem;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(179, 179, 179, 0.43);
  -moz-box-shadow: 0px 5px 7px 0px rgba(179, 179, 179, 0.43);
  box-shadow: 0px 5px 7px 0px rgba(179, 179, 179, 0.43);
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 100%;
}
.filter-options-container .filter-options > :first-child {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.filter-options-container .filter-options > :first-child div {
  display: flex;
  align-items: center;
}
.filter-options-container .filter-options > :first-child div > * {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.filter-options-container .filter-options > :first-child div span {
  color: grey;
}
.filter-options-container .filter-options .close-filters {
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: #4ABFCD;
  border-radius: 10px;
  color: white;
  border: none;
  transition: all 0.2s ease-out;
}
.filter-options-container .filter-options .close-filters:hover {
  background-color: #1f6e77;
}
.filter-options-container .filter-options .filter-inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0;
  font-size: 1.2rem;
}
.filter-options-container .filter-options .filter-inputs .filter-input :first-child {
  font-weight: 700;
  margin-right: 0.75rem;
}
.filter-options-container .filter-options .filter-inputs .filter-input select {
  border: 1px solid #4ABFCD;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.filter-options-container .filter-options .filter-buttons {
  display: flex;
  justify-content: flex-end;
}
.filter-options-container .filter-options .filter-buttons > * {
  background-color: #4ABFCD;
  border-radius: 10px;
  color: white;
  border: none;
  transition: all 0.2s ease-out;
  padding: 1rem 2rem;
}
.filter-options-container .filter-options .filter-buttons > *:hover {
  background-color: #1f6e77;
}
.filter-options-container .filter-options .filter-buttons > * i {
  margin-right: 0.5em;
}
.filter-options-container .filter-options .filter-buttons > :first-child {
  background-color: white;
  color: #4ABFCD;
  border: 1px solid #4ABFCD;
  margin-right: 1rem;
}
.filter-options-container .filter-options .filter-buttons > :first-child:hover {
  background-color: #1f6e77;
  color: white;
}

.project-card {
  height: 24rem;
  width: 22rem;
  border-radius: 10px;
  background-color: white;
  margin: 1rem 2rem;
  -webkit-box-shadow: 0px 5px 7px 4px rgba(179, 179, 179, 0.43);
  -moz-box-shadow: 0px 5px 7px 4px rgba(179, 179, 179, 0.43);
  box-shadow: 0px 5px 7px 4px rgba(179, 179, 179, 0.43);
  transition: all 0.2s;
}
.project-card:hover {
  -webkit-box-shadow: 0px 5px 10px 6px rgba(100, 179, 179, 0.43);
  -moz-box-shadow: 0px 5px 10px 6px rgba(100, 179, 179, 0.43);
  box-shadow: 0px 5px 10px 6px rgba(100, 179, 179, 0.43);
}
.project-card .project-main {
  padding: 1rem;
  height: 70%;
  border-radius: 10px 10px 0 0;
  background-image: url(https://www.buildinggreen.com/sites/default/files/guidance/Foundry_exterior.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.project-card .project-main :first-child {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.project-card .project-main :first-child .project-stats {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}
.project-card .project-main :first-child .project-stats .icon-and-text {
  padding: 0.3em;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.project-card .project-main :first-child > i {
  font-size: 1.5rem;
}
.project-card .project-main > :last-child {
  padding: 0.3em;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.project-card .project-data {
  padding: 1rem 1rem 1.5rem;
}
.project-card .project-data > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.project-card .project-data hr {
  margin: 1rem 0;
  border: 1px solid #b3b3b3;
}

.started {
  background-color: #4ec84c;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center !important;
  margin-bottom: 0.5rem;
  color: white;
}

.not-started {
  background-color: #efb500;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center !important;
  margin-bottom: 0.5rem;
  color: black;
}

.detained {
  background-color: #fb8631;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center !important;
  margin-bottom: 0.5rem;
  color: black;
}

.finished {
  background-color: #999999;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center !important;
  margin-bottom: 0.5rem;
  color: white;
}

footer {
  height: 2rem;
  background-color: #153236;
  width: 100%;
}

.chat-button {
  background-color: #4ABFCD;
  border-radius: 10px;
  color: white;
  border: none;
  transition: all 0.2s ease-out;
  position: fixed;
  bottom: 50px;
  right: 20px;
  padding: 1.2rem 1rem;
  font-size: 2rem;
}
.chat-button:hover {
  background-color: #1f6e77;
}

/*# sourceMappingURL=styles.css.map */
